\documentclass[12pt,a4paper]{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\usepackage[margin=1in]{geometry}
\usepackage{setspace}
\onehalfspacing
\usepackage[round]{natbib}
\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{adjustbox}
\usepackage{caption}
\usepackage{tikz}
\usetikzlibrary{positioning,arrows.meta,calc,fit}
\usepackage{microtype}
\usepackage[hidelinks]{hyperref}

\theoremstyle{definition}
\newtheorem{proposition}{Proposition}

% Title page anonymized for double-blind review; author details are added at submission.
\title{@@title@@}
\author{}
\date{}

\begin{document}
\maketitle
\vspace{-2em}

\begin{abstract}
\noindent @@abstract@@

\medskip
\noindent\textit{Keywords:} @@keywords@@
\end{abstract}

@@sections@@

\bibliographystyle{apalike}
\bibliography{refs}

\end{document}
